*{margin:0;
    padding:0}
.logo {background-color: $color-primario;
    img {width: 150px;}}
ul {list-style: none;transition: height 2s;
   :hover{font-size:large;}
    }
a {text-decoration: none;}
header {width: 100%;}
h1, h2, h5 {text-align: center;margin: 15px 20px;}
h1{
    animation-duration: 2s;
    animation-name: efectos;
    animation-iteration-count: infinite;
}
@keyframes efectos {
    0% {opacity: 0.50;}
    100% {opacity: 1;}
}
h4 {margin-top: -75px;color:aquamarine;text-align: center;font-size:x-large;font-weight: bold;-webkit-text-stroke: 2px rgb(100, 98, 98);}

footer {margin-top: 100px; background-color: $color_terciario;padding: 30px;}
.redessociales {text-align: center;
    a {text-decoration: none; font-size: 40px;}}
nav {background-color: $color_secundario}
iframe {max-width: 100%}
p {text-align: justify;padding:7px}

