.card {margin: 25px;padding: 15px;}
.padre-card img {width: 250px;height: 150px;}
.padre-card {max-width: 100%;}
.card-body {display:flex;flex-direction: column;justify-content:space-between;}
.valor {font-family: Georgia, 'Times New Roman', Times, serif;}
